*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
h1{
    padding: 20px;
}

.container{
    margin: 80px;
    border: 1px solid;
    padding: 30px;
	box-shadow: 10px 10px 10px #000000;
}

li{
    font-size: 20px;
    list-style-type: none;
}

footer{
    position: relative;
    background: #000000;
    color: #FFFFFF;
    padding: 30px;
}